@charset "utf-8";

body {
    margin: 0;
    background: url('../images/bg.png') no-repeat fixed #A9AFBA 50% 0;
    font-family: 'Fauna One', serif;
}

.clear {
    clear: both;
}

.center {
    width: 840px;
    margin: 10px auto;
    padding: 30px 50px;
    position: relative;
}
.center .blog-content {
    width: 750px;
}
.centerbg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}
.centercap {
    height: 35px;
}
.centertop {
    top: 0;
    background: url('../images/centertop.png') no-repeat;
}
.centerbot {
    bottom: 0;
    background: url('../images/centerbot.png') no-repeat;
}
.centertile {
    top: 35px;
    bottom: 35px;
    background: url('../images/centertile.png') repeat-y;
}

.sidebar-right {
    z-index: 2;
    position: absolute;
    right: -115px;
    top: 50px;
    width: 240px;
}
.sidebar-right .content {
    margin: 20px;
}
.sidebar-right h5 {
    margin-bottom: 0;
}
.sidebar-right ul {
    padding-left: 25px;
    margin: 0;
}
.sidebar-right .iconrow iframe {
    margin: 10px 10px 0 10px;
}
.sidebar-right .iconrow img {
    margin: 10px 10px 0 10px;
    vertical-align: top;
}
.sidebarbg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}
.sidebarcap {
    height: 15px;
}
.sidebartop {
    top: 0;
    background: url('../images/sidebartop.png') no-repeat;
}
.sidebarbot {
    bottom: 0;
    background: url('../images/sidebarbot.png') no-repeat;
}
.sidebartile {
    top: 15px;
    bottom: 15px;
    background: url('../images/sidebartile.png') repeat-y;
}

.control-row a {
    margin-bottom: 10px;
}
