---
  title: About the Rogue Codewright
---
<h2>The Rogue Codewright <span class='muted'>~ Nathan Curtis</span></h2>

<%= image_tag 'profile.jpg', style: 'float: left; margin: 0 15px 20px 0;' %>
<p>Nathan is an independent game developer in Fremont, CA. He co-founded
<a href='http://www.plixl.com'>Plixl</a> with his wife
<a href='http://ideatetowin.com/'>Krysta</a> in June, 2013. Before that, he was a Software
Engineer at <a href='http://threerings.net'>Three Rings Design</a> in San Francisco for six years,
and before <strong>that</strong> he was a student of Computer Engineering Technology and
Computer Science at <a href='http://rit.edu'>Rochester Institute of Technology</a>.</p>

<p>Examples of Nathan's publicly available work may be seen on
  <a href='https://github.com/roguenet'>Github</a> and
  <a href='http://stackoverflow.com/users/139109/roguenet'>Stack Overflow</a>.</p>

<p>Available for download: <a href="/nathancurtis-resume.pdf" target="_blank">PDF Resume</a>.</p>

<div class='clear'></div>
<h4>Game projects past and present</h4>
<ul>
    <li><a href="http://antihero-game.com/">Antihero</a>, game development.</li>
    <li><a href="http://www.tabtale.com/app/seek-find/">Seek & Find</a>, game and platform
        development.</li>
    <li><a href="http://www.mosaicmedleygame.com/">Mosaic Medley</a>, game and platform
        development.</li>
    <li><a href='http://www.puzzlepirates.com/'>Puzzle Pirates</a>, specifically the
        <a href='https://itunes.apple.com/us/app/puzzle-pirates/id658707860?mt=8'>iPad port</a>.
        </li>
    <li>Doctor Who: Worlds in Time (<i>no longer available</i>), platform and minigame
        development.</li>
    <li><a href='http://www.spiralknights.com/'>Spiral Knights</a>, online services
        integration.</li>
    <li><a href='https://apps.facebook.com/bitemegame/'>Bite Me</a>, game development and
        Facebook integration.</li>
    <li><a href='http://www.whirled.com'>Whirled</a>: platform, web and flash client development,
        SDK development and individual game project development.
    <ul>
        <li><a href='http://www.whirled.com/#games-d_44'>Undewhirled Drift</a>, game development
            and design.</li>
        <li><a href='http://www.whirled.com/#games-d_1918'>Bang! Heroes</a>, game development.</li>
        <li><a href='http://www.whirled.com/#games-d_12'>Astrologic</a>, game development and
            design.</li>
    </ul></li>
    <li>Jam games: <a href='https://github.com/roguenet/jammy'>Jammy</a>,
        <a href="https://github.com/tconkling/ggj2014">Forbidden Panic</a>.</li>
    <li>Game websites: <a href="http://www.spiralknights.com/">Spiral Knights</a>,
        Doctor Who: Worlds in Time (<i>no longer available</i>).
</ul>

<h4>Open source libraries</h4>
<ul>
    <li><a href="https://github.com/threerings/flump">Flump</a>, exporter and library
        development.</li>
    <li><a href="https://github.com/tconkling/flashbang-starling">Flashbang</a>, bug fixes and
        minor feature development.</li>
    <li><a href="https://github.com/tconkling/react-as3">React-as3</a>, bug fixes.</li>
    <li><a href="https://github.com/tconkling/aspire">Aspire</a>, bug fixes and feature
        development.</li>
    <li><a href="https://github.com/roguenet/simpler">Simpler</a>, primary author.</li>
    <li><a href="https://github.com/roguenet/microtome">Microtome</a>, feature development and
        <a href="https://github.com/roguenet/microtome/tree/working/runtimes/java">Java port</a>
        primary author.</a></li>
    <li><a href="https://github.com/threerings/playn">PlayN</a>, bug fixes and minor feature
        development.</li>
    <li><a href="https://github.com/threerings/tripleplay">TriplePlay</a>, bug fixes and feature
        developement.</li>
    <li><a href="https://github.com/threerings/narya">Narya</a>,
        <a href="https://github.com/threerings/nenya">Nenya</a>,
        <a href="https://github.com/threerings/vilya">Vilya</a>, bug fixes and co-primary author on
        PlayN/TriplePlay port.</li>
</ul>

<h4>Experience and Expertise</h4>
<ul>
    <li>Java: eight years professional development, server and client side, including work in
        Servlets, JDBC/ORM, GWT, Swing, PlayN/Tripleplay.</li>
    <li>Actionscript: eight years professional development for game clients. Developed both for
        in-browser and on AIR. Recent work in Starling/Stage3D.</li>
    <li>Javascript/HTML/CSS: nine years off and on professional development, including web services
        integration and rich browser applications.</li>
    <li>Language familiarity: Python, Ruby, C#, ObjC, PHP</li>
    <li>Relational database technologies: MySQL, PostgreSQL</li>
    <li>Web and Cloud services: AWS (EC2, S3, CloudFront, EBS), Google Cloud (CloudSQL, AppEngine),
        Facebook, Mailchimp, Kongregate, various analytics platforms.</li>
</ul>

<hr>
<h4>Hobbies</h4>
<ul>
    <li>Pets: Nathan and Krysta have two adorable Italian Greyhounds, a black cat and a fish
        tank.</li>
    <li>Bicycling: Nathan and his father <a href='http://joncu.roguenet.org/'>Jon</a> bicycled
        across the US in the 1997/98 <a href='/aaaa/'>Awesome Across America Adventure</a>. Nathan
        still regularly cycles short distances around home and would like to get back into long
        distance riding.</li>
    <li>Running: After training for and completing his first half marathon in the Spring of 2012,
        Nathan continues off and on training, with plans for a marathon in 2015.</li>
    <li>Juggling: Nathan was an active juggler in college, including holding the presidency of the
        <a href='http://www.rit.edu/sg/jugglingclub/'>RIT Juggling Club</a> for a year, and helping
        to organize the <a href='http://www.rit.edu/sg/jugglingclub/jugglein/'>RIT Spring
        Juggle-In</a>.</li>
    <li><a href='http://www.usgo.org/'>Go</a>: Nathan was an active player in college. A lot of time
        was spent in <a href='http://emptysky.org/'>Empty Sky Go Club</a> meetings. Nathan attended
        the 19th US Go Congress in Houston and helped run the 20th US Go Congress in Rochester.</li>
    <li>Music: Nathan holds a minor in music, and played trumpet through High School and College.
        He also has experience on piano, guitar and english handbells.</li>
    <li>Martial Arts: Nathan studied Kung Fu for several years in College, and Aikido briefly during
        his time at Three Rings Design in San Francisco.</li>
</ul>
